[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
pandas = "*"
anytree = "*"
scikit-learn = "*"
xgboost = "*"
shap = "*"
graphviz = "*"
pygraphviz = "*"
networkx = "*"
pyvis = "*"

[dev-packages]

[requires]
python_version = "3.10"
