[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[[source]]
url = "https://download.pytorch.org/whl/cu113/"
verify_ssl = true
name = "pytorch"

[packages]
numpy = "*"
pandas = "*"
anytree = "*"
scikit-learn = "*"
xgboost = "*"
shap = "*"
graphviz = "*"
pygraphviz = "*"
networkx = "*"
pyvis = "*"
ipykernel = "*"
ipywidgets = "*"
matplotlib = "*"
seaborn = "*"
pygad = "*"
torch = {version = "==1.11.0+cu113", index = "pytorch"}
torchvision = {version = "==0.12.0+cu113", index = "pytorch"}
statsmodels = "*"

[dev-packages]

[requires]
python_version = "3.10"
